@using MonArtisan.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - Magic Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="~/repairing-service.png" />

    <style>
        .header-search {
            position: relative;
            right: 34px;
            top: 5px;
        }
    </style>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid" style="display: flex; align-items: baseline;">
                <a class="navbar-brand me-2" href="/">
                    Magic Service
                </a>

                <button style="color: white; background-color: black;" onclick="expandNav()" class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i id="toggleIcon" class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: flex-end;">
                    <!-- Left links -->
                    <ul class="nav-items nav navbar-expand-md">
                        <li class="item">
                            <a asp-area="Identity" asp-page="/Account/Login">Connexion</a>
                        </li>
                        <li class="registration item nav-item">
                            <a class="dropbtn">S’inscrire</a>
                            <i class="fas fa-sort-down" style="position: relative; bottom: 3px; font-size: 20px;"></i>
                            <div class="dropdown-content">
                                <div>
                                    <a asp-area="Identity" asp-page="/Account/CraftsmanRegister">Créer votre compte artisan</a>
                                </div>
                                <div>
                                    <a asp-area="Identity" asp-page="/Account/ClientRegister">Créer votre compte client</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#">À propos</a>
                            <i class="fa fa-search icon-search"></i>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->

        <article class="header-article">
            <input class="header-input"
                   type="text"
                   placeholder="SAISISSEZ VOTRE PROJET..." />
            <a href="/Identity/Account/Login">
                <i class="fa fa-search header-search"></i>
            </a>
        </article>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <div role="main" class="pb-3">
            @this.RenderBody()
        </div>
    </div>

    <footer class="text-center text-lg-start text-white" style="background-color: grey;">
        <div class="container p-4 pb-0">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            A propos
                        </h6>
                        <p>
                            Nous rejoindre
                        </p>
                        <p>
                            FAQ
                        </p>

                        <div class="d-md-flex justify-content-between">
                            <p class="text-white" style="min-width: 200px;">Mentions légales</p>
                            <p class="text-white" style="min-width: 200px;">CGV</p>
                            <p class="text-white" style="min-width: 200px;">Politique de confidentialité</p>
                        </div>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6>Réseaux sociaux:</h6>

                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #3b5998"
                           href="#!"
                           role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #dd4b39"
                           href="#!"
                           role="button">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Connectez-vous</h6>
                        <p>
                            <a class="text-white">Créer votre compte client</a>
                        </p>
                        <p>
                            <a class="text-white">Rejoignez notre réseau profesionnelle</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />
                </div>
            </section>
        </div>
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © @DateTime.Now.Year Copyright:
        </div>
    </footer>

    <script>
        function expandNav() {
            const navbarCollapse = document.getElementById('navbarCollapse');
            const icon = document.getElementById('toggleIcon');

            if (!navbarCollapse.classList.contains('active')) {
                navbarCollapse.classList.add('active')
                navbarCollapse.style.display = 'block'
                icon.classList.remove('fa-bars')
                icon.classList.add('fa-times')

            } else {
                navbarCollapse.classList.remove('active')
                navbarCollapse.style.display = 'none'
                icon.classList.remove('fa-times')
                icon.classList.add('fa-bars');
            }

        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
