@using MonArtisan.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <header>
        <nav class="nav">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MonArtisan.com</a>
            
            <ul class="nav items">
                <li class="login">
                    <a href="#">Connexion</a>
                </li>
                <li class="register">
                    <a asp-area="Identity" asp-page="/Account/Register">S’inscrire</a>
                </li>
                <li class="about">
                    <a href="#">À propos</a>
                </li>
                <li class="search">
                    <i class="fa fa-search"></i>
                </li>
            </ul>
        </nav>
        
        <div class="header">
            <form>
                <input class="header-input" type="text" placeholder="SAISISSEZ VOTRE PROJET..."/>
                <span class="straight-line"></span>
                <i class="fa fa-search header-search"></i>
            </form>
        </div>
    </header>
    
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
