<div class="header">
    <form>
        <input class="header-input" type="text" placeholder="SAISISSEZ VOTRE PROJET..."/>
        <span class="straight-line"></span>
        <i class="fa fa-search header-search"></i>
    </form>
</div>
