html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    height: 100%;
}

.chat-aside {
    width: 20%;
    height: 100%;
    background: #444653;
}

.chat-user {
    display: flex;
    color: white;
    width: 200px;
    position: relative;
    top: 12px;
    left: 34px;
    height: 105px;
    border: 1px solid white;
    border-radius: 33px;
    margin-bottom: 20px;
}

.chat-user h2 {
    cursor: pointer;
}

.chat-user-image {
    width: 80px;
    height: 75px;
}

.pagination-btns {
    margin: 20px 50px;
}

.pagination-btns button {
    margin: 2px 18px;
    font-size: 20px;
}

.main-chat {
    width: 95%;
}

.chat-header {
    background: #F1F5F9;
    width: 100%;
}

.chat-header > img {
    width: 12%;
    margin-left: 44%;
}

.chat-header > h2 {
    text-align: center;
}

.messages {
    width: 100%;
    height: 100%;
    background: #4F5785;
}

.messages div {
    width: 95%;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.sender {
    background-color: dodgerblue;
}

.reciver {
    background-color: forestgreen;
}

.send-message-container {
    width: 40%;
    margin: auto;
    top: 5%;
    position: relative;
}

.send-message-container input {
    padding: 15px 40px;
    border-radius: 36px;
    border: none;
}

.send-message-btn {
    border: none;
    background: none;
    font-size: 23px;
}

.send-message-btn i {
    color: white;
}

.container-message {
    height: 70%;
    overflow-y: scroll;
}