*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.feed-container {
    height: 100%;
    display: flex;
}

aside {
    background-color: #41C5FF;
    width: 10%;
    height: 100%;
}

.icon {
    margin: 45px;
}

.icon button {
    border: none;
    background: none;
    cursor: pointer;
}

.profile-image {
    width: 60px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    right: 16px;
}

.title {
    margin: 50px;
    width: 20%;
}

.client-projects {
    margin-left: 40px;
    width: 80%;
    box-shadow: 0px 2px 1px 3px #888888;
    border-radius: 20px;
    padding: 20px 80px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1.5px solid #272D3B;
}

table td {
    padding: 20px;
}

.create-project {
    margin-top: 148px;
    overflow: hidden;
    width: 18%;
    box-shadow: 0px 2px 1px 3px #888888;
    border-radius: 20px;
    padding: 47px 75px;
    height: 16px;
}

.create-project p {
    min-width: 155px;
}

.plus-button {
    width: 69%;
    height: 58px;
    cursor: pointer;
    position: relative;
    left: 10px;
    bottom: 45px;
    background-color: #FF007C;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 4px;
    border-radius: 50%;
}

.new-project {
    min-width: 170px;
    position: relative;
    bottom: 50px;
    right: 30%;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination li {
    list-style-type: none;
    margin: 4px 1px;
    background: #969696;
    color: white;
    padding: 6px 19px;
    width: 7%;
}

.pagination li a {
    color: white;
    text-decoration: none;
}

#message-paragraph {
    display: none;
    text-align: center;
    width: 300px;
    margin: 10px auto;
    background: yellowgreen;
    color: white;
    padding: 18px;
    font-size: 20px;
}

@media (max-width: 700px) {
    aside {
        width: 15%;
        margin: 0;
    }

    .profile-image {
        width: 40px;
        height: 40px;
        left: 0;
    }

    .client-projects {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table {
        margin: auto;
    }

    tbody {
        width: 100%;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
    }

    table td {
        padding: 10px;
    }

    .icon {
        margin-left: 0;
    }

    .content {
        width: 100%;
    }

    .title {
        margin-top: 166px;
        width: 80%;
    }

    .create-project {
        position: absolute;
        bottom: 29em;
        left: 16%;
        width: 80%;
    }

    .plus-button {
        width: 78px;
        height: 60px;
        left: 23%;
        margin: 5px 4px;
    }
}
