@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

li {
    margin: 10px 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-brand {
    width: 280.25px;
    font-family: "Fira Sans", sans-serif;
}

.icon-search {
    margin-left: 8px;
    color: #3075ff;
}

button {
    border: none;
    background: white;
}

.dropdown-content {
    display: none;
}

.header-article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12em;
}

.header-input {
    border-radius: 30px;
    padding: 4px 60px 6px 30px;
    width: 300px;
}

article form button {
    position: relative;
    right: 47px;
    border: none;
    background: none;
}

.dropdown-content {
    display: none;
    width: 319px;
    padding: 3px;
    position: absolute;
    right: 30px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li.registration:hover .dropdown-content {
    display: block;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
    width: inherit;
}

.navbar-wrapper .navbar {
    width: 100% !important;
}

.navbar-inverse {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 0;
}

.navbar-inverse .nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .nav > li > a:hover {
    background: none;
}

@media (max-width: 720px) {
    body {
        overflow-x: hidden;
    }
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        right: 0;
    }

    a {
        font-size: 26px;
    }

    .header-article {
        margin: 10px auto;
    }

    article form button {
        left: -35px;
        bottom: 0px;
    }

    .dropdown-content {
        width: 280px;
        top: 210px;
        right: -70px;
    }
}