@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.items {
    display: flex;
}

.nav {
    vertical-align: middle;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    color: black;
}

.login {
    width: 245.71px;
    height: 44px;
    position: relative;
    top: 21.34px;
    left: 115px;
}

.register {
    width: 128.33px;
    height: 37px;
    position: relative;
    top: 22.85px;
}

.about {
    width: 116.39px;
    height: 35px;
    position: relative;
    top: 23.87px;
}

.navbar-brand {
    width: 280.25px;
    height: 85px;
    position: relative;
    top: 30px;
    left: 66.83px;
    font-family: 'Fira Sans', sans-serif;
}

.fa-search {
    color: #3075FF;
}