@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    position: relative;
    right: 80px;
}

li {
    margin: 10px 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.icon-search {
    margin-left: 8px;
    color: #3075ff;
}

.navbar-brand {
    width: 280.25px;
    height: 85px;
    position: relative;
    top: 30px;
    left: 66.83px;
    font-family: "Fira Sans", sans-serif;
}

button {
    border: none;
    background: white;
}

.dropdown-content {
    display: none;
}

.header-article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12em;
}

.straight-line {
    border-left: 1px solid grey;
    height: 24px;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 17.5em;
}

.header-input {
    border-radius: 30px;
    padding: 4px 60px 6px 30px;
    width: 300px;
}

article form button {
    position: relative;
    right: 47px;
}

.hamburger {
    display: none;
}

.dropdown-content {
    display: none;
    width: 319px;
    padding: 3px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li.registration:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 590px) {
    body {
        max-width: 512px;
        width: 100%;
        font-size: calc(0.75em + 1vmin);
    }

    .header-input {
        max-width: 190px;
        width: 100%;
    }
    
    .straight-line {
        left: 71%;
        top: 18em;
    }

    article form button {
        position: relative;
        left: 245px;
        bottom: 24px;
        font-size: 16px;
    }

    .navbar-brand {
        left: 10.83px;
    }

    .icon {
        font-size: 30px;
    }

    li {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        left: 50px;
        bottom: 8px;
        color: black;
    }
}
