@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 150px;
}

h2 {
    text-align: center;
    font-size: 28px;
}

#worksheet {
    margin-top: 250px;
}

.card {
    border: none;
}

.service-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    position: relative;
    left: 140px;
}

.business-contact-image {
    position: absolute;
    right: 140px;
    width: 300px;
    height: 250px;
}

.service-header img {
    width: 55px;
    height: 38px;
}

.service-header h3 {
    font-size: 39px;
    width: 700px;
    position: relative;
    left: 25px;
}

.sheet {
    font-family: Fira Sans serif;
}

.description {
    width: 300px;
}

.service-items {
    display: flex;
    justify-content: center;
}

.service-item {
    margin: 0px 40px;
}

img {
    width: 70px;
    height: 80px;
}

.project-container {
    margin: 20px auto;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.projects div {
    margin: 20px auto;
}

.project {
    display: flex;
    width: 200px;
}

.project p {
   margin-left: 40px;
}

.customer-opinion-title {
    text-align: center;
    font-size: 36px;
    font-family: Fira Sans, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 43px;
    color: #2C2E3C;
}

.opinions {
    display: flex;
}

.opinion {
    width: 25%;
    border: 1px solid black;
    margin-left: 30px;
    margin-bottom: 5em;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.opinion > p {
    height: 79px;
    max-width: 300px;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    left: 1.2em;
}

.user > img {
    width: 40px;
    height: 40px;
}

.details {
    margin-left: 15px;
}

.details h4 {
    height: 3px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    #worksheet {
        flex-direction: column;
    }

    .sheet {
        width: 80%;
        margin: 10px auto;
    }

    .business-contact {
        left: 0;
        margin: 20px 5px;
    }

    .business-contact-image {
        width: 85%;
        height: 60%;
        margin: auto;
        right: 0;
    }

    .service-items {
        flex-direction: column;
        width: 30%;
        margin: auto;
    }

    .projects {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .opinion {
        width: 70%;
        margin: 15px auto;
    }

    .down {
        flex-direction: column;
    }

    .down article img {
       width: 80%;
    }
}