@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h2 {
    text-align: center;
    font-size: 48px;
}

.container {
    margin-top: 100px;
}

.business-contact-image {
    position: absolute;
    right: 140px;
    width: 300px;
    height: 250px;
}

.service-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    position: relative;
    left: 140px;
}

.service-header img {
    width: 55px;
    height: 38px;
}

.service-header h3 {
    font-size: 39px;
    width: 700px;
    position: relative;
    left: 25px;
}

.worksheet {
    display: flex;
    margin: 300px 50px 0 0;
}

.sheet {
    margin: 0 75px;
    font-family: Fira Sans serif;
}

.description {
    width: 300px;
}

.service-items {
    display: flex;
    margin: 50px 180px;
}

.service-item {
    margin: 0 60px;
}

img {
    width: 55px;
    height: 56px;
}

.project-container {
    margin-left: 340px;
}

.project {
    display: flex;
    width: 200px;
}

.project p {
    margin-left: 40px;
}

.second {
    width: 100px;
    position: relative;
    left: 470px;
    bottom: 12em;
}

.customers-opinion {
    width: 1190px;
}

.customer-opinion-title{
    text-align: center;
    font-size: 36px;
    font-family: Fira Sans, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 43px;
    color: #2C2E3C;
}

.opinions {
    display: flex;
    position: relative;
    left: 3em;
    bottom: -15px;
}

.opinion {
    width: 38%;
    border: 1px solid black;
    margin-left: 30px;
    margin-bottom: 5em;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.opinion > p {
    height: 79px;
    max-width: 300px;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    left: 1.2em;
}

.user > img {
    width: 40px;
    height: 40px;
}

.details {
    margin-left: 15px;
}

.details h4 {
    height: 3px;
}

.choose-us {
    position: absolute;
    left: 1px;
    top: 180em;
    background: #E0E2DB;
    height: 386px;
    width: 83.9em;
}

.choose-us h4 {
    font-family: Fira Sans serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    margin: 37px 0 5px 302px;
    position: relative;
    right: 165px;
    text-align: center;
}

.choose-us p {
    font-family: Fira Sans serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
    position: relative;
    left: 40px;
    width: 45.1em;
}

.choose-us > img {
    width: 300px;
    height: 220px;
    float: left;
    margin: 50px 0 50px 130px;
}

footer {
    width: 1190px;
    position: relative;
    top: 35em;
}

footer section p {
    max-width: 30em;
    font-size: 22px;
}

footer section:nth-child(1) img {
    width: 310px;
    height: 174px;
    position: absolute;
    left: 54em;
    top: 1em;
}

.top {
    margin-left: 30px;
}

.down {
    width: 83.9em;
    background: #BABCB3;
    position: relative;
    top: 6em;
    left: 1px;
    display: flex;
    justify-content: center;
}

footer .down article {
    left: 70px;
    position: relative;
    width: 400px;
    margin-top: 100px;
    top: -50px;
}

.social-media {
    display: flex;
}

.social-media img {
    width: 41.31px;
    height: 34.68px;
    border-radius: 50%;
    margin-left: 13px;
}

.link-items {
    margin-bottom: 10px;
    margin-left: 18px;
}

.special {
    width: 70%;
    display: flex;
    position: relative;
    top: 50px;
    left: 182px;
}

.special-link-item {
    margin: 6px 66px;
}