body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.feed-container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

aside {
    background-color: #5D78E3;
    width: 10%;
    position: relative;
    float: left;
    top: 0px;
    bottom: 0px;
    height: 100vh;
}

.icon {
    margin-left: 45px;
    margin-top: 50px;
}

.icon button {
    border: none;
    background: none;
    cursor: pointer;
}

.profile-image {
    width: 60px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    right: 11px;
}


.title {
    margin-left: 40px;
    margin-top: 50px;
    max-width: 30px;
}

.client-projects {
    margin-left: 40px;
    margin-top: 37px;
    box-shadow: 0px 2px 1px 3px #888888;
    border-radius: 20px;
    padding: 20px 80px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1.5px solid #272D3B;
}

table td {
    padding: 20px;
}

.create-project {
    width: 130px;
    position: relative;
    left: 56em;
    top: -190px;
    box-shadow: 0px 2px 1px 3px #888888;
    border-radius: 20px;
    padding: 9px 79px;
}

.create-project p {
    min-width: 155px;
}

.plus-button {
    cursor: pointer;
    position: relative;
    left: 35px;
    background-color: #FF007C;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 4px;
    border-radius: 50%;
}

.search-section {
    margin-left: 15em;
    margin-top: 5px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px rgb(0 0 0 / 10%);
    border-radius: 0 0 20px 20px;
    height: 25vh;
    padding: 0 40px;
}

.search-section article {
    margin: 2px 30px;
}

.search-section article input {
    background: #F0F2F7;
    border-radius: 12px;
    padding: 10px 30px;
}

article.search button {
    background: #3B55E6;
    position: relative;
    right: -157px;
    padding: 0 28px;
    bottom: 40px;
    height: 40px;
    border-radius: 17px;
}

article.search .fa-search {
    color: white;
    font-size: 15.5px;
}

.user-category-items {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}