@import url('header.css');
@import url('main.css');
@import url('./footer.css');
@import url('./login.css');
@import url('./clientFeed.css');
@import url('searchClients.css');
/*@import url('./project.css');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100% !important;
    height: 100% !important;
}

#cookieConsent > button {
    padding: 10px !important;
    background: seagreen !important;
}
