@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/register.css" />
</head>

<script>
    const userData = {};
    
    function firstStep() {
        document.querySelector(".first-step").style.display = "none";
        document.querySelector(".second-step").style.display = "block";
    }
    
    function secondStep() {
        document.querySelector(".second-step").style.display = "none";
        document.querySelector(".last-step").style.display = "block";
    }
    
</script>

<form hidden method="post"></form>

<div class="container">
        <section class="first-step">
            <h2>Créez votre compte professionnel et trouvez vos premiers clients</h2>

            <div class="row">
                <input class="input" type="text" id="lastName" name="lastName" required placeholder="Nom"/>
            </div>

            <div class="row">
                <input class="input" type="text" id="firstName" name="firstName" required placeholder="Prénom"/>
            </div>
            <div class="row">
                <input class="input" type="text" id="email" name="email" required placeholder="E-mail"/>
            </div>
            <div class="row">
                <input class="input" type="text" id="phoneNumber" name="phoneNumber" required placeholder="Numéro de téléphone pour vos futurs clients"/>
            </div>
            <div class="row">
                <input class="input" type="password" id="password" name="password" required placeholder="Mot de passe"/>
            </div>

            <button class="continue-btn first-step" onclick="firstStep()">Continuer</button>
        </section>

        <section class="second-step" style="display: none;">
            <h2>Complétez quelques informationset commencez </h2>

            <div class="row">
                <input class="input" type="text" id="companyName" name="companyName" required placeholder="Nom de votre entreprise"/>
            </div>

            <div class="row">
                <input class="input" type="text" id="companyNumber" name="companyNumber" required placeholder="SIRET (14 chiffres)"/>
            </div>
            <div class="row">
                <input class="input" type="text" id="address" name="address" required placeholder="Adresse"/>
            </div>
            <div class="row">
                <button onclick="getUserLocation()">Get my location automatically</button>
                <div id="zipCodeErr" style="display: none;"></div>
            </div>
            <div class="row">
                <input class="input" type="password" id="confirmPassword" name="confirmPassword" required placeholder="Mot de passe"/>
            </div>

            <button class="second-step" onclick="secondStep()">Continuer</button>
        </section>

        <section class="last-step" style="display: none;">
            <div class="row">
                <h2>Sélectionnez votre sécteur</h2>

                <select class="input" name="profession" id="professions">
                    <option value="plumber">Plombier</option>
                    <option value="electrician">Électricien</option>
                    <option value="masterFurniture">Ébéniste</option>
                    <option value="carpenter">Menuisier</option>
                    <option value="painter">Peintre</option>
                    <option value="airConditioner">Climatisation</option>
                    <option value="garden">Jardin</option>
                    <option value="isolation">Isolation</option>
                    <option value="roofing">Toiture</option>
                    <option value="heater">Chauffage</option>
                    <option value="plaster">Plâtre</option>
                    <option value="floorTile">Carrelage</option>
                    <option value="sanitary">Sanitaire</option>
                    <option value="cuisine">Cuisine</option>
                    <option value="cleaning">Nettoyage</option>
                    <option value="demolition">Démolition</option>
                    <option value="elevator">Ascenseur</option>
                    <option value="construction">Construction / Rénovation</option>
                    <option value="security">Sécurité</option>
                    <option value="renewableEnergy">Énergie renouvelable</option>
                    <option value="other">Autre</option>

                </select>
            </div>

            <div class="row">
                <label for="radius">Radius activité</label>
                <input class="input" type="text" id="radius" name="radius" required placeholder="50 km de"/>
            </div>
            <div class="row">
                <label>Votre KBIS</label>
                <input class="input" type="file" id="KBIS" name="Kbis" required placeholder="Joindre un fichier"/>
            </div>

            <button class="continue-btn last-step" onclick="craftsmanRegister()">Continuer</button>
        </section>
</div>

<script>
    const registerData = {};

    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                const { longitude, latitude } = position.coords;
                registerData['longitude'] = longitude;
                registerData['latitude'] = latitude;

                console.log(longitude, latitude);
                $('#zipCodeErr').text('Your location was taken successfully and will be saved').show();

                setTimeout(() => {
                    $('#zipCodeErr').hide();
                }, 4000);
            });
        }
    }

    function craftsmanRegister() {
        const lastName = $('#lastName').val();
        const firstName = $('#firstName').val();
        const email = $('#email').val();
        const phoneNumber = $('#phoneNumber').val();
        const password = $('#password').val();
        const companyName = $('#companyName').val();
        const companyNumber = $('#companyNumber').val();
        const address = $('#address').val();
        const confirmPassword = $('#confirmPassword').val();
        const profession = $('#professions').val();
        const radius = $('#radius').val();

        const token = $('input[name=__RequestVerificationToken]').val();

        const craftsmanData = {
            firstName,
            lastName,
            email,
            phoneNumber,
            password,
            confirmPassword,
            companyName,
            companyNumber,
            address,
            profession,
            radius,
            longitude: registerData['longitude'],
            latitude: registerData['latitude'],
        }

        $.ajax({
            type: 'post',
            url: '/api/Users/CraftsmanRegistration',
            contentType: 'application/json',
            dataType: 'json',
            headers: {
                "X-CSRF": token,
            },
            data: JSON.stringify(craftsmanData),
            success: function (response) {
                if (response.result == 'Redirect') {
                    window.location = response.url;
                }
            }
        })
    }
</script>
