@using MonArtisan.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<main>
    <div class="text-center">
        <h2>Comment trouver votre Artisan ?</h2>
    </div>
    
    <img class="bissness-contact-image" src="https://i.ibb.co/kq3cqsD/bissness-contacts.png" alt="bissness contact" />
    
    <div class="worksheet">
        <div class="sheet">
            <h3 class="title">1.Publiez votre Projet</h3>
            <p class="description">Décrivez votre projet en 1 min et sélectionnezvous-même les Artisans avec qui vous souhaitez être mis en relation.</p>
        </div>
        
        <div class="sheet">
            <h3 class="title">2.Les Artisans vous répondent</h3>
            <p class="description">Les Artisans intéressés prennent contact avec vous.</p>
        </div>
        
        <div class="sheet">
            <h3 class="title">3.Choisissez votre Artisan</h3>
            <p class="description">Consultez les profils des Artisans et sélectionnez ceux que vous souhaitez rencontrer.</p>
        </div>
    </div>
</main>
