@model List<GetUserProjectsViewModel>
 
@{
    Layout = "_ProfessionalLayout";
}

<div>
    <section class="content">
        <h1 class="title">Bonjour prénom,</h1>

        <article class="client-projects">
            <h2>Projets</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DATE</th>
                    <th>GAIN</th>
                    <th>STATUT</th>
                </tr>
                @foreach (var project in Model)
                {
                    var statut = project.Statut ? "Delivered" : "Undelivered";
                    <tr>
                        <td>
                            <label class="container">@project.ProjectId</label>
                        </td>
                        <td>@project.Name</td>
                        <td>@project.Date</td>
                        <td>$0</td>
                        <td>@statut</td>
                    </tr>
                }
            </table>
        </article>

        <article class="create-project">
            <button class="plus-button">
                <i class="fa fa-plus"></i>
            </button>

            <p>
                <a asp-area="" asp-controller="ProfessionalFeed" asp-action="SearchClients">Trouver nouveaux clients</a>
            </p>
        </article>
    </section>
</div>

<link rel="stylesheet" href="~/css/professionalFeed.css" />