@{
    Layout = "_ProfessionalLayout";
}

<div>
    <section class="content">
        <h1 class="title">Bonjour prénom,</h1>

        <article class="client-projects">
            <h2>Projets</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DATE</th>
                    <th>GAIN</th>
                    <th>STATUT</th>
                    <th>TRACKING</th>
                </tr>
                <tr>
                    <td>
                        <label class="container">
                            003452
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td>Company Name</td>
                    <td>22 June 2020</td>
                    <td>$200.00</td>
                    <td>Delivered</td>
                    <td>IN332942</td>
                </tr>
            </table>
        </article>

        <article class="create-project">
            <button class="plus-button">
                <i class="fa fa-plus"></i>
            </button>

            <p>
                <a asp-area="" asp-controller="ProfessionalFeed" asp-action="SearchClients">Trouver nouveaux clients</a>
            </p>
        </article>
    </section>
</div>

<link rel="stylesheet" href="~/css/professionalFeed.css" />