@{
    Layout = "_ProfessionalLayout";
}

<section>
    <div class="search-section">
        <article class="trade">
            <input class="category" type="text" placeholder="Metiers" />

            <div class="user-category-items"></div>
        </article>

        <article class="search">
            <div>
                <input type="text" placeholder="Rechercher" />
                <form method="post"></form>
                <button onclick="ajaxSearch()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </article>
    </div>

    <div class="price-range-slider">
        <p class="range-value">
            <input type="text" id="amount">
        </p>
        <div id="slider-range" class="range-bar">
        </div>
    </div>
</section>

<section class="search-projects">
</section>

<script>
    function ajaxSearch() {
        const token = $('input[name=__RequestVerificationToken]').val();
        const value = $("#amount").val();
        const km = value.substring(4, 6);
        const categories = document.querySelector('.user-category-items').children;
        const searchCategories = [];

        [...categories].map(category => {
            const currentCategory = category.textContent.substr(0, category.textContent.length - 1);
            searchCategories.push(currentCategory);
        })

        $.ajax({
            url: '/api/ProfessionalFeed/SearchProjects',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({ radius: km, categories: searchCategories}),
            headers: {
                "X-CSRF": token,
            },
            success: (data) => {
                console.log(data);
                const searchProjects = document.querySelector('.search-projects');

                if (data.length === 0) {
                    const searchContainer = document.createElement('div');
                    searchContainer.style.padding = '10px 30px';
                    searchContainer.style.background = 'white';
                    searchContainer.style.width = '100%';
                    searchContainer.textContent = 'No results were found';
                    searchProjects.appendChild(searchContainer);
                } else {
                    data.forEach(project => {
                        const searchContainer = document.createElement('div');
                        searchContainer.style.padding = '10px 30px';
                        searchContainer.style.background = 'white';
                        searchContainer.style.width = '100%';

                        const projectName = document.createElement('h2');
                        const projectType = document.createElement('p');
                        const date = document.createElement('p');
                        const detailsBtn = document.createElement('button');

                        projectName.textContent = project['projectName'];
                        projectType.textContent = project['projectType'];
                        date.textContent = project['date'];
                        detailsBtn.textContent = 'Voir Plus';

                        searchContainer.appendChild(projectName);
                        searchContainer.appendChild(projectType);
                        searchContainer.appendChild(date);
                        searchContainer.appendChild(detailsBtn);

                        searchProjects.appendChild(searchContainer);
                    })
                }
            }
        })
    }
</script>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 50,
            values: [0, 50],
            slide: function (event, ui) {
                $("#amount").val("" + ui.values[0] + " - " + ui.values[1] + " km");
            }
        });
        $("#amount").val("" + $("#slider-range").slider("values", 0) +
            " - " + $("#slider-range").slider("values", 1));
    });
</script>

<script>
    const enterKeyCode = 13;
    const categoryInput = document.querySelector('.category');
    categoryInput.addEventListener('keyup', (e) => {
        if (e.keyCode == enterKeyCode) {
            e.preventDefault();
            const userCategoryItems = document.querySelector('.user-category-items');
            userCategoryItems.style.display = "flex";
            userCategoryItems.style.flexWrap = "wrap";
            userCategoryItems.style.width = "230px";

            const span = document.createElement('span');

            span.style.borderRadius = "9px  12px";
            span.style.padding = "2px 20px";
            span.style.position = "relative";
            span.style.top = "15px";
            span.style.margin = "8px 4px";
            span.style.background = "#F0F2F7";

            const removeBtn = document.createElement("button");

            removeBtn.style.fontFamily = "Helvetica";
            removeBtn.style.textAlign = "center";
            removeBtn.style.width = "20px";
            removeBtn.style.height = "20px";
            removeBtn.style.background = "#F0F2F7";
            removeBtn.textContent = "X";
            removeBtn.style.border = "none";
            removeBtn.style.fontWeight = "bold";
            removeBtn.style.fontSize = "11px";
            removeBtn.addEventListener('click', removeItem);

            span.textContent = e.target.value;
            span.appendChild(removeBtn);

            userCategoryItems.appendChild(span);
            e.target.value = '';
        }

        function removeItem(e) {
            e.target.parentNode.remove();
        }
    })
</script>
