@{
    Layout = "_ProfessionalLayout";
}

<section class="search-section">
    <article class="trade">
        <input type="text" placeholder="Metiers"/>
    </article>

    <article class="search">
        <div>
            <input type="text" placeholder="Rechercher"/>
            <button>
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </article>
</section>
